body{
    background-color: white;
    margin:0;
    padding:0;
}
.header {
    background-color: lightgray;
    overflow: hidden;
    padding: 20px 10px;
}

.header a{
    float: left;
    text-align: center;
    background-color: lightgray;
    padding: 12px;
    font-size: 17px;
    border-radius: 4px;
    text-decoration: none;
    line-height: 15px;

}

.HomeDescSub{
    margin: 10px;
}



.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }